*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    background-color: rgba(0, 0, 0, 0.05);
}

body{
    padding: 12px;
    display: flex;
}

h1{
    font-size: 32px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2{
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3{
    font-size: 18.72px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h4{
    font-size: 16px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h5{
    font-size: 14px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h6{
    font-size: 14px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sign-in-container{
    width: 60%;
    height: 100%;
    padding: 24px;
    background-color: white;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    position: relative;
    display: none;
}

form#sign-in-form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

form#sign-in-form h5{
    display: inline-block;
    margin-right: 4px;
}

form#sign-in-form .text-btn{
    background-color: white;
    color: #422F7E;
    font-size: 14px;
    font-weight: 600;
    border: 0;
    cursor: pointer;
    display: inline-block;
}

.about-company{
    width: 40%;
    height: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #422F7E;
    position: relative;
    color: white;
    display: none;
}

.about-company .container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.about-company .container h1{
    font-style: italic;
    font-weight: 400;
    margin-bottom: 40px;
}

.about-company .container h4{
    font-weight: 600;
}

.about-company .teamwork-img{
    width: 128px;
    height: 128px;
    background-image: url('../assets/teamwork.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 64px;
}