*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    background-color: rgba(0, 0, 0, 0.05);
}

body{
    padding: 12px;
    display: flex;
}

h1{
    font-size: 32px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2{
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3{
    font-size: 18.72px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h4{
    font-size: 16px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h5{
    font-size: 14px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h6{
    font-size: 14px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.company-info{
    display: flex;
}

.company-logo{
    width: 24px;
    height: 24px;
    background-image: url('../assets/company-logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 12px;
}

.sign-up-steps-indicator{
    width: 36%;
    height: 100%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 42px 36px;
    background-color: #422F7E;
    position: relative;
    color: white;
}

.steps-indicator{
    margin-top: 84px;
    border-left: white 2px solid;
}

.step-indicator-btn{
    border: 0;
    background: #422F7E;
    color: white;
    display: flex;
    text-align: initial;
    margin-bottom: 42px;
    transform: translate(-12.5px, 0px);
}

.step-indicator-btn h5{
    margin-bottom: 8px;
}

.step-indicator-btn:hover{
    cursor: pointer;
}

.bullet-indicator{
    background-color: white;
    border: #422F7E 2px solid;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    margin-right: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bullet-indicator-check{
    background-image: url('../assets/check.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 16px;
    height: 16px;
}

.bullet-indicator-current{
    background-color: #422F7E;
    width: 10px;
    height: 10px;
    border-radius: 5px;
}

.bullet-indicator-todo-container{
    background-color: #422F7E;
    border: #ffffff 1px solid;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    margin-right: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bullet-indicator-todo{
    background-color: white;
    width: 10px;
    height: 10px;
    border-radius: 5px;
}

footer{
    position: absolute;
    bottom: 42px;
    left: 36px;
}

.sign-up-steps{
    background-color: white;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 64%;
    height: 100%;
    position: relative;
    padding: 12px;
}

.form-container, .bar-nav-container{
    width: 360px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.form-container{
    top: 15%;
}

.form-step-container{
    display: none;
}

.form-step-container .company-logo{
    display: inline-block;
    margin: 18px 0;
}

.form-step-container h5{
    margin: 12px 0 36px 0;
}

.form-step-container button, .form-step-container input{
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    margin: 24px 0;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-step-container input{
    border:rgba(0, 0, 0, 0.05) 2px solid;
}

.form-step-container button, .form-container input[type=submit]{
    color: white;
    border: 0;
    background-color: #422F7E;
}

.form-step-container button:hover, .form-container input[type=submit]:hover{
    cursor: pointer;
}

.bar-nav-container{
    bottom:48px;
}

.bar-nav-btn{
    border: rgb(220, 209, 255) 3px solid;
    border-radius: 12px;
    width: 64px;
    margin: 0 2px;
}

.bar-nav-btn:hover{
    cursor: pointer
}

.bar-nav-container .selected{
    border: #422F7E 3px solid;
    transition: 1s;
}